<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>TradeDayTrackR Verify Account</title>
    <meta name="description" content="TradeDayTrackR Verify Account" />
    <meta name="author" content="TradeDayTrackR" />
    <style type="text/css">
      .link:hover {
        cursor: pointer;
      }

      @media screen and (max-width: 600px),
        screen and (max-device-width: 600px) {
        .outer {
          padding-left: unset !important;
          padding-right: unset !important;
        }
        .footer-img {
          width: unset !important;
        }
      }
    </style>
  </head>
  <body
    class="outer"
    style="
      background: #eaeaea;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      transform: scale(1.2);
      padding: 2em;
    "
  >
    <div
      style="
        max-width: 36em;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
        font-weight: 300;
        background: white;
        padding: 1em;
        color: dimgray;
      "
    >
      <table style="width: 100%; border-bottom: 1px solid #bfbfbf">
        <tr>
          <!-- <td>
          <img style="height: 4em;" src="https://gdaypunch-resources.s3.ap-southeast-2.amazonaws.com/gday.png">
        </td> -->
          <td style="text-align: end">
            <table style="width: 100%">
              <tr>
                <td>Verify Account</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div
        style="
          font-size: 1.5em;
          font-weight: 400;
          color: #8e8e8e;
          text-align: center;
          padding: 2em;
          border-bottom: 1px solid #bfbfbf;
        "
      >
        <div>Your account verification link is ready.</div>
        <div style="margin-top: 1em">
          <a
            href="{{ website }}/verify-account/{{ token }}"
            style="
              text-decoration: none;
              height: 3em;
              border: none;
              background: dimgray;
              color: white;
              padding: 1em;
              letter-spacing: 0.05em;
              font-family: sans-serif;
              font-size: 0.7em;
              white-space: nowrap;
            "
          >
            Verify Account
          </a>
        </div>
      </div>
      <table style="width: 100%">
        <tr>
          <td
            class="address-field"
            style="
              padding-left: 1em;
              padding-right: 1em;
              width: 50%;
              vertical-align: top;
            "
          >
            <h4>Hi!</h4>
            <span></span>
            <p>
              Verify your account today to start tracking your trade days on
              TradeDayTrackR! To complete account registration verify your email
              address to keep your account secure and provide a way to recover
              your password. {{ website }}/verify-account/{{ token }} If you did
              not make this request, you can simply ignore this email.
            </p>
            <p>Sincerely,</p>
            <p>TradeDayTrackR Team</p>
          </td>
        </tr>
      </table>
      <table style="width: 100%; margin-top: 1em">
        <tr>
          <td class="footer-img" style="float: right">
            <!-- <img style="height: 4em;" src="https://gdaypunch-resources.s3.ap-southeast-2.amazonaws.com/gday_header.png"> -->
          </td>
          <td style="font-family: sans-serif; font-size: 0.7em; color: dimgrey">
            <table>
              <tr>
                <td style="text-transform: uppercase">
                  TradeDayTrackR Website
                </td>
              </tr>
              {% comment %}
              <tr>
                <td>Melbourne, VIC 3000 Australia</td>
              </tr>
              {% endcomment %}
              <tr>
                <td>
                  <p
                    style="margin: unset"
                    class="link"
                    onclick="window.open('{{ website }}', '_blank')"
                  >
                    www.tradedaytrackr.com
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
